.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/**
/docker/test/
/test/end-to-end/output/**
node_modules/**
output/
.git/**
yarn.lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_store
